{% extends "base.html" %}

{% block title %} 영화 목록 {% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    <br><br>
    <h2 style="text-align: center;">영화 목록</h2><br>
    <h6 style="text-align: center;"><a href="/movies/new/">새 영화 등록</a></h6>

    <hr color="black">
    
    <table align="center">
        {% for movie in movies %}
        <tr>
            <td>
                <a href="/movies/{{ movie.id }}/">{{ movie.title }}</a>, {{ movie.score }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}