{% extends "base.html" %}

{% block title %} 영화 정보 입력 Form {% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}

    <br><br>
    <h2 style="text-align: center;">영화 정보 입력</h2><br>
    <hr color="black">

    <form action="/movies/create/">
        제목(한글) : <input type="text" name="title"/><br>
        제목(영어) : <input type="text" name="title_en"/><br>
        관객수 : <input type="number" name="audience"/><br>
        개봉일 : <input type="date" name="open_date"/><br>
        장르 : <input type="text" name="genre"/><br>
        이용등급 : <input type="text" name="watch_grade"/><br>
        평점 : <input type="number" name="score"/><br>
        이미지 URL : <input type="text" name="poster_url"/><br>
        영화 설명 : <textarea name="description"></textarea><br>
        <input type="submit" value="Submit"/>
    </form>
    
{% endblock %}