<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>영화 정보 조회</title>
</head>
<body>
    <br><br>
    제목(한글) : {{ movie.title }}<br>
    제목(영어) : {{ movie.title_en }}<br>
    관객수 : {{ movie.audience }}<br>
    개봉일 : {{ movie.open_date }}<br>
    장르 : {{ movie.genre }}<br>
    이용등급 : {{ movie.watch_grade }}<br>
    평점 : {{ movie.score }}<br>
    이미지 url : {{ movie.poster_url }}<br>
    영화 설명 : {{ movie.description }}<br><br>

    <a href="/movies/">목록</a>
    <a href="/movies/{{movie.id}}/edit/">수정</a>
    <a href="/movies/{{movie.id}}/delete/">삭제</a>
</body>
</html>